# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
!.vscode/extensions.json
.history/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.packages

# Android related
/android/app/debug
/android/app/profile
/android/app/release
/android/build/
/android/NOTICE
/android/key.properties
/android/*.jks
/android/*.keystore
android/app/google-services.json

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
ios/Runner/GoogleService-Info.plist

# Web related
.web/

# Secrets and environment variables
.env
.env.*
secret.dart
lib/firebase_options.dart

# Internal development scripts
rewrite_ui.py
run.sh

# Supabase CLI temp state
/supabase/.temp/

# Firebase related
.firebase/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
